body {
    background-image: url("../image/background_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#login-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 730px;
    height: 600px;

}

#bottom-logo {
    position: absolute;
    width: 300px;
    height: 150px;
    z-index: -1;
}


.input_field{
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center; 
    border: none;
    height: 41px;
    opacity: 0.7;
    padding-right:35px;
    padding-left: 20px;
    border-radius: 26px;
    margin-top:20px;
    display: block;
}

#username_input {
    background-image: url("../image/username_bg.png");
}
#password_input {
    background-image: url("../image/password_bg.png");
}

#login_btn {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 38px;
    margin-top: 20px;
    border: none;
    height: 41px;
}

#input_form {
    margin-top: 160px;
}


